.search-field-container {
    -fx-padding: 0 0 10px 0;
}

.search-label {
    -fx-font-size: 14px;
}

.search-bar {
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-background-radius: 20px;
    -fx-padding: 5px 10px;
}

.title-label {
    -fx-font-size: 21px;
    -fx-padding: 5px 0;
}

